/* Custom color variables */
:root {
    --primary-color: #2196F3; /* Blue */
    --secondary-color: #FF5722; /* Orange */
    --background-color: #f4f4f4; /* Light Gray */
    --card-background: #fff; /* White */
    --hover-color: #f0f0f0; /* Light Gray (Hover) */
}

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

.header {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    font-size: 2rem;
}

.calendar {
    max-width: 480px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--card-background);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow-x: auto; /* Add overflow property to prevent margin bleeding */
}

.month {
    padding: 20px;
}

.month h2 {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    overflow-x: auto; /* Add overflow property to prevent margin bleeding */
}

/* Adjust margin for the day elements */
.day {
    background-color: var(--card-background);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px; /* Add margin to separate day elements */
}

.day:hover {
    background-color: var(--hover-color);
}

.day img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.day input[type="file"] {
    display: none;
}

.day label {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.day label:hover {
    background-color: var(--secondary-color);
}

/* Media query for screens smaller than 480px (mobile devices) */
@media (max-width: 480px) {
    .calendar {
        max-width: 100%;
        margin: 10px;
        padding: 10px;
        overflow-x: auto; /* Keep overflow for smaller screens as well */
    }

    .month {
        padding: 10px;
    }

    .month h2 {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .day {
        padding: 5px;
        margin: 3px;
    }
}
